<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../qunit.css" rel="stylesheet" />
    <script type="text/javascript" src="../jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../qunit.js"></script>
    <script type="text/javascript" src="../../jquery.jgeez.core.js"></script>
    <script type="text/javascript" src="../../jquery.jgeez.ui.js"></script>
    <!-- rename this file to the name of the unit test you are writing -->
    

    

    <script type="text/javascript">

        QUnit.done(function (details) {
            console.log("Total: ", details.total, " Failed: ", details.failed, " Passed: ", details.passed, " Runtime: ", details.runtime);
        });

    </script>

    <script type="text/javascript" src="defaul_layout_maps_correctly.js"></script>

</head>
<body>
   <div id="qunit-header"></div>
   <div id="qunit-tests"></div>
    <div id="customresult"></div>
</body>
</html>
